.Blog{
    padding:5em 0;

    .blog_container{
        @include grid(3);
        padding:0.9em 0;

        .blog_content{
            padding:0.5em 0.5em;
            border-radius: 16px;
            border: 2px solid $primary-color;

            span{
                font-weight: bold;
                margin-bottom: 0.9em;
                font-size: 1.5em;    
            }
        }   
    }
}
