.contact{
    @include grid(2);
    padding:0 2em;

    .contact_container{        
        .contact_content{
            padding:0.5em 0;

            span{
                font-size: 1.2em;
                font-weight: bold;
                display: flex;
                gap:0.4em;
                padding:0.3em 0;
    
                img{
                    height: 18px;
                    width: 18px;
                }
            }
        }
        .social_media{
            @include flex;
            flex-direction: row;
            padding:0.5em 2em;
            
            a{
                img{
                    height: 30px;
                    width: 30px;
                }
            }
        }
    }

    .form-container{
        padding:0.5em 0;

        .success-message{
            color: green;
        }
        .error-message{
            color:red;
        }

        .input_group{
            padding:0.7em 0;
            input,textarea{
                padding:0.6em 0.9em;
                border-radius: 12px;
                width:100%;
                font-size: 1em;
            }
            .name{
                display: flex;
                gap:0.9em;
            }
        }
        button{
            padding:0.6em 1.2em;
            color:$secondary-color;
            background: $primary-color;
            border:none;
            border-radius:12px;
            transition: box-shadow 0.3s ease-in-out;
        }
        button:hover{
            box-shadow: 0 0 15px rgba(180, 54, 73, 0.9);
        }
    }
}
.footer{
    padding:0.5em;
    font-size: 1.2em;
    text-align: center;
    background: $primary-color;
    color:$secondary-color;
}


@media  screen and (width <=726px) {
    .footer{
        font-size: 1em;
    }   
}