.Hero{
  padding: 4.2em 0 0;
  .hero_container{
    @include grid(2);
    
    .hero_content{
        @include flex;
        justify-content: center;
        align-items:center;
      span{
        font-size: 3.5em;
      }
      p{
        font-size: 2.3em;

        .animate{
          font-size: 1.3em;
          display: inline-block;
          color:$accent-color;
          animation: giggle 2s infinite;
        }
      }
    }
    .hero_image{
        display: flex;
        align-items: right;
        justify-content: center;
        img{
            height: 75vh;
            width: 50%;
            border-radius:18px;
        }
    }
    
@keyframes giggle{
  0%, 50%, 100%{
    transform: translateX(0);
  }

  25%, 75%{
    transform: translateX(-8px);
  }
}
}
}

 

@media screen and (width <=726px){
  .Hero{
    .hero_container{
      background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4)),url(../images/lawrence.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 24px;
      height: 65vh;

      .hero_content{
        color:$secondary-color;
        span{
          font-size: 2.2em;
        }
        p{
          .animate{
            font-size: 0.8em;
            color:$secondary-color;
          }
        }
      }
        .hero_image{
          display: none;
        }
     }
  }
}

