$navHeight: 10vh;
$navBoxShadow: 2px 2px 5px $primary-color;
$navActiveColor: bold;

.nav_content {
    position: sticky;
    top: 0;
    height: $navHeight;
    background: $secondary-color;
    box-shadow: $navBoxShadow;
    z-index: 100;
  
    .nav-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 1.5em;
      font-size: 1.2em;

      .logo{
        padding: 0.5em 0;
        a{
            text-decoration: none;
            color: $primary-color;
            font-size: 1.3em;
            font-weight: bold;

        }
      }
  
      .burger-menu {
        display: none;
        cursor: pointer;
        span {
          display: block;
          height: 3px;
          width: 25px;
          background-color: $primary-color;
          margin: 6px 0;
          transition: transform 0.3s ease;
        }
      }
  
      ul {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
  
        li {
          display: inline;
          flex-grow: 1;
          padding: 0 0.9em;
          text-align: left;
  
          a {
            text-decoration: none;
            color: $primary-color;
  
            &.active {
              font-weight: $navActiveColor;
            }
          }
        }
      }
    }
}
  
// Styles for mobile view
@media (max-width: 767px) {
    .nav_content{
        .nav-container{
            .burger-menu {
                display: block;
                // .line-1 {
                //     transform: rotate(-45deg) translate(-5px, 6px);
                // }
        
                // .line-2 {
                //     opacity: 0;
                // }
        
                // .line-3 {
                //     transform: rotate(45deg) translate(-5px, -6px);
                // }
            }

            ul {
                flex-direction: column;
                position: absolute;
                top: $navHeight;
                right: 0;
                width: 50%;
                height: 65vh;
                background: $secondary-color;
                box-shadow: $navBoxShadow;
                display: none;
                z-index: 99;

                &.show-menu {
                    display: flex;
                }

                li {
                    text-align: center;
                    margin-top: 15px;

                    &:first-child {
                    margin-top: 0;
                    }
                }
            }
        }
    }
}

