.Work{
    padding: 5em 0 0;
    .work_container{
        @include grid(3);
        padding: 0.9em 0;
        gap:2em;
        
        .work_content{
            box-shadow: 1px 1px 5px $accent-color;
            border-radius: 16px;
            padding:0.5em 0.9em;
            text-align: center;

            .title{
                font-size: 1.1em;
                font-weight: bold;
                margin-bottom: 0.5em;
            }
            p{
                text-align: left;
                margin-bottom: 0.5em;
            }
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 10px; 
                width: 100%;
                
                img {
                  width: 15%; 
                  height: 15%;
                  padding:0.3em;
                  border-radius: 24px;
                  border: 1px solid $primary-color;
                } 
            }
            img:hover{
                background: $accent-color;
            }
        }
    }
}

@media screen and (width <=726px) {
    .Work{
        .work_container{
            .work_content{
                margin: 0 0 1.5em;
    
                img{
                    height: 30vh;
                }
            }
        }
    }
}